.container {
    /* width: 1240px; */
    margin-top: 20px;
}

.container h1 {
    margin-bottom:20px;
}

table {
    width: 100%;
}
thead {
    background-color:#eee
}

table, th, td {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align:left;
}

.btn-primary {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color:rgb(49, 88, 196);
    color: white;
    border-radius:5px;
}

.btn-edit,
.btn-delete {
    padding: 5px;
    margin-right: 20px;
    color: white;
    border: none;
    border-radius:5px;
}

.btn-edit{
    background-color:lightseagreen;
}

.btn-delete {
    background-color:tomato;

}

.modal-header {
    width:100%;
    background-color: #4d4d4d;
    color: #ffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}